.datetimepicker-custom {
    padding: 0;
}

.datetimepicker-custom:focus {
    border: none;
}

.main-header.header-one .main-menu .navbar-collapse .navigation .active {
    background: var(--primary-color);
}

/* Style for dropdown for login */
.menu-sidebar .dropdown-menu {
    padding: 0;
}

/* Dropdown menu hidden by default */
.dropdown-menu {
    list-style-type: none;
    position: absolute;
    top: 60px; /* Adjust to the correct position */
    right: 0;
}
.menu-sidebar .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm box-shadow */
}
.dropdown-menu li {
    padding: 8px 16px;
    border-bottom: 1px solid var(--border-color);
}
/* Loại bỏ đường viền dưới cho mục cuối cùng */
.dropdown-menu li:last-child {
    border-bottom: none; /* Không có đường viền dưới cho mục cuối cùng */
}
.dropdown-menu li:hover {
    background-color: var(--primary-color);
}

/* css tour in page home  */
.block_tours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* css tourdetail  */
.tour-gallery .gallery-between {
    height: 100%;
    padding-bottom: 10px;
}
.tour-gallery .gallery-item img {
    height: 100%;
    border-radius: 8px;
}

/****************************************
*              PAGE TOURS              *
* ***************************************/
.div_filter_clear {
    display: flex;
    justify-content: end;
}
.clear_filter {
    color: #fff;
    background-color: var(--bs-green);
    border-radius: 8px;
    padding: 2px 20px;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden-content {
    display: none; /* Ẩn nội dung */
}